@model ArticleListViewModel

@section Css
{
    <link rel="stylesheet" href="/folder/css/article.css">
    <link rel="stylesheet" href="/folder/css/article_preview.css">
    <link rel="stylesheet" href="/folder/css/pagination.css">
    <link rel="stylesheet" href="/folder/css/admin_informations.css">
    <link rel="stylesheet" href="/folder/css/search.css">
    <link rel="stylesheet" href="/folder/css/category.css">
    <link rel="stylesheet" href="/folder/css/confirm.css">
}

@foreach (var item in Model.Articles)
{
    @await Html.PartialAsync("_article_confirm", item)
}

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-9">
                @if (Model.Articles.Count() > 0)
                {
                    @foreach (var item in Model.Articles)
                    {
                        @await Html.PartialAsync("_admin_article", item)
                    }
                }
                else
                {
                    <div class="alert">
                        <p class="alert-text text-danger">There is no article for this category</p>
                    </div>
                }

                @if (Model.PageInfo.TotalItems > Model.PageInfo.ItemsPerPage)
                {
                    <div class="row-pagination">
                        <nav>
                            <ul class="pagination">
                                @{
                                    if((string)@Context.Request.Query["page"] == null)
                                    {
                                        <li class="page-item"><button class="page-link" disabled>Previous</button></li>
                                    }
                                    else
                                    {
                                        int previousPage;
                                        if (int.Parse(@Context.Request.Query["page"]) > 1)
                                        {
                                            previousPage = (int.Parse(@Context.Request.Query["page"]) - 1);
                                            <li class="page-item"><a class="page-link" asp-controller="Admin" asp-action="ArticleCategoryAdmin" asp-route-page="@previousPage">Previous</a></li>
                                        }
                                        else
                                        {
                                            <li class="page-item"><button class="page-link" disabled>Previous</button></li>
                                        }
                                    }  
                                }

                                @for (int i = 0; i < @Model.PageInfo.TotalPages(); i++)
                                {
                                    <li class="page-item @(Model.PageInfo.CurrentPage == i+1?"active":"")">
                                        <a class="page-link" href="/admin/articles/@(Model.PageInfo.CurrentCategory)?page=@(i+1)">
                                            @(i+1)
                                        </a>
                                    </li>
                                }

                                @{
                                    int nextPage;

                                    if((string)@Context.Request.Query["page"] == null)
                                    {
                                        int page = 1;
                                        if (page < Model.PageInfo.TotalPages())
                                        {
                                            nextPage = page + 1;
                                            <li class="page-item"><a class="page-link" asp-controller="Admin" asp-action="ArticleCategoryAdmin" asp-route-page="@nextPage">Next</a></li>
                                        }
                                        else
                                        {
                                            <li class="page-item"><button class="page-link" disabled>Next</button></li>
                                        }
                                    }
                                    else
                                    {
                                        if (int.Parse(@Context.Request.Query["page"]) < Model.PageInfo.TotalPages())
                                        {
                                            nextPage = int.Parse(@Context.Request.Query["page"]) + 1;
                                            <li class="page-item"><a class="page-link" asp-controller="Admin" asp-action="ArticleCategoryAdmin" asp-route-page="@nextPage">Next</a></li>
                                        }
                                        else
                                        {
                                            <li class="page-item"><button class="page-link" disabled>Next</button></li>
                                        }
                                    }
                                }
                            </ul>
                        </nav>
                    </div>
                }
            </div>

            <div class="col-3 flex-reverse">
                @await Html.PartialAsync("_admin_informations")
                @await Html.PartialAsync("_search")
                @await Component.InvokeAsync("Categories")
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    @foreach (var item in Model.Articles)
    {
        <script>
            document.getElementById("btn-confirm@(item.ArticleId)").onclick = function(e) {
                e.stopImmediatePropagation();
                e.preventDefault();
                document.getElementById("container-confirm@(item.ArticleId)").style.display = "block";
            };

            document.getElementById("confirm@(item.ArticleId)").onclick = function(){
                document.getElementById("form@(item.ArticleId)").submit();
                document.getElementById("container-confirm@(item.ArticleId)").style.display = "none";
            };

            document.getElementById("cancel@(item.ArticleId)").onclick = function(){
                document.getElementById("container-confirm@(item.ArticleId)").style.display = "none";
            };
        </script>
    }
}